*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.main h1, p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 15px 15px;
}

.main h1{
  font-size: 40px;
}

.main p{
  font-size: 25px;
}

.wrapper{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0px;
  border: 2px solid black;
  background: linear-gradient(85deg, red 60%, blue);
}

.tools{
  display: flex;
  flex-direction: column;
  width: 150px;
  overflow-y: scroll;
}

.tools h3{
  text-align: center;
  text-shadow: 1px 1px 2px black;
  color: white;
  background-color: aqua;
}
