*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0px;
  border: 2px solid black;
}

.tools{
  display: flex;
  flex-direction: column;
  width: 150px
}
